  <div class="contain-to-grid">

  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <section class="top-bar-section">
      <ul class="left">

        <!-- link to home -->
        <li><%= link_to "Chess Warehouse", home_path %></li>

                <!-- options for items -->
        <% unless current_user.nil? %>
          <li>
            <%= link_to "Schools", schools_path %>
          </li>
        <% end %>
        <!-- options for purchases -->
        <li>
          <%= link_to "Items", items_path %>
        </li>

      </ul>
      <%= render :partial => "partials/cart" %>
        <ul class="right">
          <li> &nbsp; </li><li> &nbsp; </li><li> &nbsp; </li>
          <% if logged_in? %>
              <li>
                <%= render :partial => "partials/cartMenu" %>
              </li>
            <li class="has-dropdown">
              <a href="#"><%= current_user.proper_name %></a>
              <ul class="dropdown">
                <li><%= link_to 'User Info', current_user %></li>
                <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
                <li id="logout"><%= link_to 'Logout', logout_path %></li>
              </ul>
            </li>

          <% else %>
            <li>
              <%= link_to 'Login', login_path %>
            </li>
          <% end %>
        </ul>

    </section>
  </nav>
</div>
