  <% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

  <div class="form-actions">
<!--     <%= link_to(eval("#{model_name.pluralize}_path"), class: 'button radius') do %>
      &nbsp;Display All <%= model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp; -->
    &nbsp;&nbsp;

    <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{opt}"}, class: 'button small radius alert float-right', id: 'delete-button') do %>
        &nbsp;<%= "Delete #{model_name}" %>
    <% end %>
    &nbsp;&nbsp;

    <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'button small radius float-right', id: 'edit-button') do %>
        &nbsp;<%= "Edit #{model_name}" %>
    <% end %>
    &nbsp;&nbsp;
    
  </div>
