<br>

<div class="row">
</div>
<div class="row">
  <div class="small-10 small-push-1 columns">
    <h3 class="inline"><%= @user.proper_name %></h3>

    <% if current_user.role? :admin %>
      <%= link_to edit_user_path(@user), class: "button small float-right" do %>
        &nbsp;Edit This User
      <% end %>
    <% end %>
    <br><br>

    <div class="panel" id="order_logistics">
      <div class="small-3 columns">
        <strong>Username</strong> <h5><%= @user.username %> </h5>
      </div>
      <div class="small-4 columns">
        <strong>Email</strong> <h5> <%= @user.email%></h5> 
      </div>
      <div class="small-3 columns">
        <strong>Phone</strong> <h5> <%= @user.phone %></h5>
      </div>
      <% if !current_user.role? :customer %>
        <div class="small-1 columns">
          <strong>Role</strong> <h5><%= @user.role %> </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-10 small-push-1 columns">
    <h3> Order History </h3>
    <% unless @order_history.nil? || @order_history.empty? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="200" class="centerText">Date</th>
            <th width="325" class="centerText">School</th>
            <th width="150" class="centerText">Grand Total</th>
            <th width="100" class="centerText">Shipped</th>
            <th width="150" class="centerText"></th>
          </tr>
        </thead>
        <tbody>
          <% @order_history.each do |order| %>
            <tr>
              <td><%= order.date.strftime("%B %d, %Y") %></td>
              <td class="centerText"><%= order.school.name %></td>
              <td class="centerText"><%= number_to_currency order.grand_total %></td>
              <td class="centerText"> 
                <% if Order.not_shipped.include? order %>
                  No
                <% else %>
                  Yes
                <% end %>
                </td>
              <td class="centerText">
                <%= link_to order_path(order), class: 'button tiny' do %>
                  Order Details
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There have been no orders placed by this user.</p>
      <p> &nbsp; </p>      <p> &nbsp; </p>      <p> &nbsp; </p>      <p> &nbsp; </p>
    <% end %>
  </div>
</div>

