<div id="new_purchase">
    <%= simple_form_for @purchase, html: { class: 'form-horizontal' }, remote: true do |f| %>

        <%= f.input :quantity, input_html: {class: "avg"} %>
        <%= f.input :item_id, as: :hidden, input_html: { value: params[:item_id] } %>

        <div class="form-actions">
          <%= f.submit nil, :class => 'button tiny radius', :id => "price_button" %>
          <%= link_to 'Cancel', item_path(params[:item_id]), :class => 'button tiny alert radius' %>
        </div>
    <% end %>
</div>