<br>
  <div class="row">
    <div class="panel">
      <div class="row">
        <div class="small-12 columns">

            <h4> <strong>Step 1 of 2</strong>: Which school would you like to ship to? </h4>
        </div>
        <div class="small-6 columns">
            <p> Add a school to the system... </p>
        </div>
        <div class="small-6 columns">
            <p> Or select one from the list below: </p>
        </div>

        <div class="small-6 columns">
            <%= render :partial => "form" %>
        </div>
        <div class="small-6 columns">
            <%= simple_form_for @school do |f| %>
                <p>
                  <%= f.label :school %><br />
                  <%= f.select :name, @active_schools, :prompt => "Select ..." %>
                </p>
                <div>
                  <%= link_to new_user_path, class: 'button small' do %> 
                    Select School
                  <% end %>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
